# openM++ intermediate build and run files
build/
lib/
models/bin/
*.zip
*.gz
*.log

# win_bison_flex
bin/custom_build_rules/*
bin/data/*

# openM++ UI
#
etc/
html/

# model files automatically created by omc
#
# Missing.dat.tmp
# *.tmp

# build results and user settings
#
**/.vs
**/.vscode
*.pdb
*.ipdb
*.obj
*.exe
*.iobj
*.ilk
*.sdf
*.suo
*.o
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.a
*.rej
*~
#*#
.#*
.*.swp
*.vcxproj.user

[Tt]humbs.db

#
# MacOS and Xcode
#
# below is customized version of:
#  https://github.com/github/gitignore/Global/macOS.gitignore
#  https://github.com/github/gitignore/Global/Xcode.gitignore
#  https://github.com/github/gitignore/Objective-C.gitignore
# Source GitHub/gitignore license: CC0 (world-wide public domain)
#

# Xcode

## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Gcc Patch
/*.gcno

# MacOS

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon



# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
