bin/data/*
build/
lib/
*.zip
*.gz
*.log

**/.vs
**/.vscode
*.pdb
*.ipdb
*.obj
*.exe
*.iobj
*.ilk
*.sdf
*.suo
*.o
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.a
*.rej
*~
#*#
.#*
.*.swp
*.vcxproj.user

.DS_Store
[Tt]humbs.db
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
