//
//  Model configuration settings
//
// Copyright (c) OpenM++
// This code is licensed under MIT license (see LICENSE.txt for details)

#include "../Model-common.xcconfig"

// Model name: by default is the same as target name
// Please rename target to match your actual model name
//
MODEL_NAME = $(TARGET_NAME)

// omc compiler settings:
//
// OMC_CODE_PAGE: encoding name (code page) of source .mpp/.ompp files
// OMC_NO_LINE:   if true then disable generation of #line directives.
//                case-insensitive true: "true" or "yes" or "1"
//                anything else is false
//
SCENARIO_NAME = Default
OMC_SCENARIO_PARAM_DIR = $(SRCROOT)/parameters/$(SCENARIO_NAME)
OMC_FIXED_PARAM_DIR = $(SRCROOT)/parameters/Fixed
OMC_CODE_PAGE = WINDOWS-1252
OMC_NO_LINE = false

// any value of MODEL_DOC_DISABLE would disable build of model documentation
//
// MODEL_DOC_DISABLE = Y

// UI settings:
//
// START_OMPP_UI: if true then start openM++ UI.
//                case-sensitive true: "true" or "yes" or "1"
//                anything else is false
//
START_OMPP_UI = false
