/* extra omp-ui styles */

/* primary light background */
$om-theme-primary-light: #9fa8da; /*indigo-200*/ /*#a4addf;*/

.om-theme-primary-light-bg {
  background-color: $om-theme-primary-light;
}

/* monospace font */
.mono {
  font-family: Roboto Mono, Courier New, Courier, monospace;
}

/* medium font weight */
.medium-wt {
  font-weight: 500
}
