/* refresh rotate animation style */

.om-mcw-spin {
  -webkit-animation: refresh-spin 2s linear infinite;
  animation: refresh-spin 2s linear infinite;
  font-size: 1rem;
  line-height: 1.35rem;
}
@-webkit-keyframes refresh-spin {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}
@keyframes refresh-spin {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}
