# it should be generic import(DBI)
import(RSQLite)

export(
  createWorkset,
  createWorksetBasedOnRun,
  getLanguages,
  getModel,
  getWorksetRunIds,
  selectRunAccumulator,
  selectRunOutputValue,
  selectRunParameter,
  setReadonlyDefaultWorkset,
  setReadonlyWorkset,
  toQuoted,
  updateWorksetParameter
)
